*{margin:0;padding:0;font-family:Arial}

body{
background:#0f172a;
color:white;
text-align:center
}

header{
padding:30px
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,220px);
gap:20px;
justify-content:center
}

.card{
background:#1e293b;
padding:20px;
border-radius:15px;
box-shadow:0 10px 25px #000
}

.destaque{
border:2px solid #22c55e
}

.preco{
font-size:26px;
color:#22c55e
}

button{
width:100%;
padding:12px;
margin-top:10px;
border:0;
border-radius:8px;
background:#22c55e;
font-weight:bold
}

.modal{
display:none;
position:fixed;
top:0;left:0;
width:100%;height:100%;
background:#000c
}

.box{
background:#1e293b;
width:280px;
margin:120px auto;
padding:20px;
border-radius:10px
}

.close{
background:#ef4444
}

img{
width:200px;
margin-top:10px
}

textarea{
width:100%;
height:80px;
margin-top:10px
}